.profileImg {
    animation: fadeInR 1.5s ease-out;
}

.biography {
    animation: fadeInL 1.5s ease-out;
}


.fixedBanner h2 {
    animation: enfasis 2s ease-out infinite;
}


.animate img {
    animation: fadeInR 1.5s ease-in-out;
}

.animate .description{
   animation: fadeInL 3s ease-in-out;
  }

.animate {
    justify-content: space-around;
}

.animateServices .techCard{
    animation: rotate 0.7s ease-in;
}


@keyframes rotate {
    from {
          transform: scale(0.2) rotate(180deg)
    }

    to {
          transform: scale(1) rotate(0deg);
    }
}


@keyframes enfasis {
    0% {
        font-size: 1.7rem;
    }

    50% {
        font-size: 2.1rem;
    }

    100% {
        font-size: 1.7rem;
    }

}

@keyframes fadeInR {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    50% {
        opacity: 0.4;
        transform: translateX(0);
    }

    100%{
        opacity: 1
    }
}

@keyframes fadeInL {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }

    50% {
        opacity: 0.4;
        transform: translateX(0);
    }

    100%{
        opacity: 1;
    }
}